:root {
  height: 100%;
  /* fonts */
  font-size: 18px; /* base font size */
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  line-height: 1;

  --xtra-small-font: 0.7rem;
  --medium-font: 1.2rem;
  --large-font: 3rem;
  --xtra-large-font: 10rem;

  /* Colors */
  /* Primary */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradients */
  --light-slate-blue: hsl(252, 100%, 67%); /*(background)*/
  --light-royal-blue: hsl(241, 81%, 54%); /*(background)*/

  --violet-blue: hsla(256, 72%, 46%, 1); /*(circle)*/
  --persian-blue: hsla(241, 72%, 46%, 0); /*(circle)*/

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsla(241, 100%, 89%, 0.5);
  --dark-gray-blue: hsl(224, 30%, 27%);
}
